// #form stuff
.form-padding {
    margin: 10;
}
// #inputs
.standard-input {
    border-color: transparent transparent #fff transparent;
    border-width: 0 0 2 0;
    color: #fff;
    font-size: 28;
    font-weight: bold;
    &.disabled {
        opacity: 0.3;
    }
}
.input-horizontal-button {
    height: 50;
    width: 270;
}