<StackLayout class="page-base-bg landscape-bg">
    <FlexboxLayout class="form-padding">
        <TextView
            [(ngModel)]="tmpSpeechText"
            autocapitalizationType="allCharacters"
            autocorrect="false"
            class="standard-input input-horizontal-button"
            hint="Escribir acá..."
            id="theMessage"
        ></TextView>
        <Button class="button-sm button-submit button-submit-play button-image-common" (tap)="emmaSpeak()"></Button>
    </FlexboxLayout>
</StackLayout>